<%- include partials/_header.ejs %>
<main>
    <h2>About Me</h2>
    <p class="about">I am a computer programming student at Georgian College in Bariie, Ontario. My who life from grade 6 I had a
    passion for computer programming, especially the web aspect. I currently freelance online, developing website and
    doing server work for companies and individuals all over the world. My first experience with freelancing was the
    summer of 2016, when I failed to get a school co-op. I decided I wasn;t going to sit around all summer and do
    nothing, I was at least going to try and work online, doing what I love. The first job I completed was for a large
    cleaning company in New Zealand called Busy Beez. The job was so simple, but so complex st the same time and it made
    me want to get into freelancing indefinitely. Since my first online job, it has only gotten better. </p>
</main>