<%- include partials/_header.ejs %>
<main>
    <div class="bio">
        <img src="images/jake.jpg" alt="Jake Anstey" align="left">
        <p>
            I am highly knowledgeable with most web languages such as PHP, CSS, vanilla JavaScript and more. I have a a
            wide variety of freelance work, including unix server maintenance, WordPress maintenance and whole site
            migrations, as well as front and back end website development. With my most recent skills set being the
            MEAN Stack.
        </p>
    </div>
</main>