<%- include partials/_header.ejs %>
<main>
    <div class="projects">
        <div class="project">
            <div class="thumbnail">
                <img src="images/miotigames.jpg">
            </div>
            <div class="description">
                Mioti games is an online indie game marketplace and community. We cater to the individual creators of
                the world and encourage them to sell their creations and try other indie games as well!
            </div>
        </div>

        <div class="project">
            <div class="thumbnail">
                <img src="images/paradigm.jpg">
            </div>
            <div class="description">
                Paradigm came from personal experience using separate systems for booking and invoicing, creating more
                work for the end-user. Paradigm is an all-in-one bookiung and invoicing system that automatically
                generates PDF invoices and client relation emails.
            </div>
        </div>

        <div class="project">
            <div class="thumbnail">
                <img src="images/basicstudent.png">
            </div>
            <div class="description">
                Basic student was an idea formed by necessity. It is a personal project that I plan to take further
                in the near future. It is a personalized scheduler for college and university, organizing the users
                courses, assignments, tests, marks and more.
            </div>
        </div>

        <div class="project">
            <div class="thumbnail">
                <img src="images/smartwatch.png">
            </div>
            <div class="description">
                This app was one I developed for personal use as well, and after posting it on the Google Play Store, it
                attracted more attention than I had anticipated. The app is a gateway to managing WiFi networks for your
                phone itself and is simple and efficient. (43,000+ Downloads)
            </div>
        </div>

        <div class="project">
            <div class="thumbnail">
                <img src="images/chancellor.jpg">
            </div>
            <div class="description">
                Chancellor Options was a company in Costa Rica that hired me to develop their landing page. They dealt
                with binary option trading and have a large firm for global use.
            </div>
        </div>
    </div>
</main>