<%- include partials/_header.ejs %>
<main>
    <div class="services">
        <div class="service">
            <h2>Web Development</h2>
            <p>
                I am very advanced at web development in PHP, native JavaScript, AJAX/JQuery, CSS, Node.Js and other
                frameworks. I started working on web development in grade 6 when I learned how to create a simple
                website from a text document. PHP has been my strongest language because of how versatile it is and how
                many different services use it as a framework.
            </p>
        </div>

        <div class="service">
            <h2>Java</h2>
            <p>
                Java is one of my favourite cross platform languages and I have been working with it from the beginning
                of 2015. I have the concepts of how to make you an application that will run on any computer that can
                connect to your database or filesystem.
            </p>
        </div>

        <div class="service">
            <h2>C#</h2>
            <p>
                I am new to C#, and learning the basics, however, with the education from Georgian College, I am able
                to make you a full blown Windows application for your business needs. C# is the language of choice when
                it comes to a strong user interface, and an even stronger back end, and is constantly updated to stay
                running on all of your computers indefinitely. It can benefit you if you are in need of an enterprise
                system that deals with multiple end users at any given time.
            </p>
        </div>
    </div>
</main>